
<body id="body-movies">
    <div class="head-search" *ngIf="submitted">
        <br>
        <form #musica="ngForm" >
            <input name="artistSearched" id="artistSearched" class="form-control" type="text" placeholder="Buscar artista" [(ngModel)]="artistSearched">
            <button (click)="getArtists()" class="btn-search">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>Buscar</button>
        </form>
    </div>
    <div class="cover" *ngIf="!submitted">
    <br>
    <div class="search-bar" *ngIf="!submitted">
        <form #musica="ngForm" >
            <input name="artistSearched" id="artistSearched" class="form-control" type="text" placeholder="Buscar artista" [(ngModel)]="artistSearched">
            <button (click)="getArtists()" class="btn-search">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
                Buscar
            </button>
        </form>
    </div>
    </div>
<div class="col-sm-12  col-md-12 col-12 cards" *ngIf="submitted">
        <div class="col-lg-4 col-md-4 col-sm-6 col-12" *ngFor="let item of tracksOf" >
            <div class="card" style="width: 18rem;">
                <img src="{{item.trackAlbumPicture}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{item.trackTitle}}</h5>
                    <p class="card-text">Artist: {{item.trackArtistName}}</p>
                    <p class="card-text">Album: {{item.trackAlbumName}}</p>
                    <audio controls>
                        <source src="{{item.trackPreview}}" type="audio/ogg">
                        <source src="{{item.trackPreview}}" type="audio/mp3">
                    </audio>
                </div>
            </div>
        </div>
</div>
<div class="modal fade" id="musicModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                
                <h5 class="modal-title" id="exampleModalLabel">Error en la busqueda</h5>
                </div>
                
        
                <div class="modal-footer">
                    <button type="button" class="btn2" data-bs-dismiss="modal">Cerrar</button>
                </div>
                </div>
                </div>
</div>
</body>
<!--
<div class="row mt-5" *ngIf="submitted">
    <div class="col-md-4 my-2" *ngFor="let element of deezerData">
        <div class="card">
            <img src="{{element.picture_medium}}" class="card-img-top pointer" alt="..." (click) ="goToArtistDetail(element)">
            <div class="card-body pointer" (click) ="goToArtistDetail(element)">
              <b><h5 class="card-title">{{element.name}}</h5></b>
              <span class="_info">{{element.nb_fan}} Fans</span>
            </div>
        </div>
    </div>
  </div>-->