*,
*::before,
*::after {
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
}
body{
    color: #252422;
    background-color: #fefeff;
    overflow-x: hidden;
    font-family: 'Poppins',sans-serif;
}
.container{
    display: flex;
}
.section-right{
    margin-top: 3%;
    width: 30%;
    float: right;
    border-right: solid #252422 0.1em;
    margin-right: 2%;
}
.section-left{
    
    margin-top: 3%;
    width: 65%;
    float: left;
}
.section-right .card-img img{
    width:18rem;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.bio{
    font:inherit;
    line-height: 28px;
    text-align: center;
    position: absolute;
    padding: 0.5em;
    top:220px;
    margin-bottom: 2%;
}
.span-title{
    font-size: 17px;
    font-weight: 500;
    vertical-align: bottom;
}
.span-text{
    font-size: 16px;
    vertical-align: bottom;
}
.bio-box1, .bio-box2, .bio-box3, .bio-box4{
    display: flex;
}
.card-info{
    width: 18rem;
    background-color: #3a0ca3;
    color: #fefeff;
    
}
.card-title{
    font-weight: 500;
}
.card-title, .card-text{
    margin-left: 2%;
}
.card-subinfo{
    display: flex;
}