<body id="body-horoscope">
    <section class="row row-cols-2 row-cols-md-4 g-4 mt-3" id="contain-cards">
                
        <div class="col">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../../../assets/images/profile-aries.png" id="img-horoscope" class="img-fluid mt-1 ms-1 rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Aries</h5>
                    <p class="card-text">Aries, el primer signo del zodiaco, pertenece a los nacidos entre las fechas del 21 de marzo y el 19 de abril</p>
                    <div class="buttons">
                        <button class="button" (click)="horoscopeDay('aries')">
                            Horoscopo del dia
                        </button>
                        <button class="button" (click)="horoscopeMonth('aries')">
                            Horoscopo del mes
                        </button>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
<div class="col">
<div class="card mb-3" >
<div class="row g-0">
    <div class="col-md-4">
        <img src="../../../assets/images/profile-taurus.png" id="img-horoscope" class="img-fluid mt-1 ms-1 rounded-start" alt="...">
    </div>
    <div class="col-md-8">
    <div class="card-body">
        <h5 class="card-title">Tauro</h5>
        <p class="card-text">Tauro, el segundo signo del zodiaco, pertenece a los nacidos entre las fechas del 20 de abril y el 20 de mayo.</p>
        <div class="buttons">
            <button class="button" (click)="horoscopeDay('taurus')">
                Horoscopo del dia
            </button>
            <button class="button" (click)="horoscopeMonth('taurus')">
                Horoscopo del mes
            </button>
        </div>
    </div>
    </div>
</div>
</div>
</div>
<div class="col">
<div class="card mb-3" >
<div class="row g-0">
    <div class="col-md-4">
        <img src="../../../assets/images/profile-gemini.png" id="img-horoscope" class="img-fluid mt-1 ms-1 rounded-start" alt="...">
    </div>
    <div class="col-md-8">
    <div class="card-body">
        <h5 class="card-title">Geminis</h5>
        <p class="card-text">Géminis, el tercer signo en el zodiaco, pertenece a los nacidos entre el 21 de mayo y el 20 de junio.</p>
        <div class="buttons">
            <button class="button" (click)="horoscopeDay('gemini')">
                Horoscopo del dia
            </button>
            <button class="button" (click)="horoscopeMonth('gemini')">
                Horoscopo del mes
            </button>
        </div>
    </div>
    </div>
</div>
</div>
</div>
    <div class="col">
    <div class="card mb-3" >
        <div class="row g-0">
            <div class="col-md-4">
                <img src="../../../assets/images/profile-cancer.png" id="img-horoscope" class="img-fluid mt-1 ms-1 rounded-start" alt="...">
            </div>
            <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Cancer</h5>
                <p class="card-text">Cáncer, el cuarto signo del zodiaco, pertenece a los nacidos entre las fechas del 21 de junio y el 22 de julio.</p>
                <div class="buttons">
                    <button class="button" (click)="horoscopeDay('cancer')">
                        Horoscopo del dia
                    </button>
                    <button class=" button"  (click)="horoscopeMonth('cancer')">
                        Horoscopo del mes
                    </button>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="col">
<div class="card mb-3" >
<div class="row g-0">
    <div class="col-md-4">
        <img src="../../../assets/images/profile-leo.webp" id="img-horoscope" class="img-fluid mt-1 ms-1 rounded-start" alt="...">
    </div>
    <div class="col-md-8">
    <div class="card-body">
        <h5 class="card-title">Leo</h5>
        <p class="card-text">Leo, el quinto signo del zodiaco, pertenece a los nacidos entre las fechas del 23 de julio y el 22 de agosto.</p>
        <div class="buttons">
            <button class="button" (click)="horoscopeDay('leo')">
                Horoscopo del dia
            </button>
            <button class=" button" (click)="horoscopeMonth('leo')">
                Horoscopo del mes
            </button>
        </div>
    </div>
    </div>
</div>
</div>
</div>
<div class="col">
<div class="card mb-3" >
<div class="row g-0">
    <div class="col-md-4">
        <img src="../../../assets/images/profile-virgo.png" id="img-horoscope" class="img-fluid mt-1 ms-1 rounded-start" alt="...">
    </div>
    <div class="col-md-8">
    <div class="card-body">
        <h5 class="card-title">Virgo</h5>
        <p class="card-text">Virgo, el sexto signo del zodiaco, pertenece a los nacidos entre las fechas del 23 de agosto y el 22 de septiembre</p>
        <div class="buttons">
            <button class="button" (click)="horoscopeDay('virgo')">
                Horoscopo del dia
            </button>
            <button class=" button" (click)="horoscopeMonth('virgo')">
                Horoscopo del mes
            </button>
        </div>
    </div>
    </div>
</div>
</div>
</div>
<div class="col">
<div class="card mb-3" >
<div class="row g-0">
    <div class="col-md-4">
        <img src="../../../assets/images/profile-libra.webp" id="img-horoscope" class="img-fluid mt-1 ms-1 rounded-start" alt="...">
    </div>
    <div class="col-md-8">
    <div class="card-body">
        <h5 class="card-title">Libra</h5>
        <p class="card-text">Libra, el séptimo signo del zodiaco, pertenece a los nacidos entre las fechas del 23 de septiembre al 22 de octubre.</p>
        <div class="buttons">
            <button class="button" (click)="horoscopeDay('libra')">
                Horoscopo del dia
            </button>
            <button class=" button" (click)="horoscopeMonth('libra')">
                Horoscopo del mes
            </button>
        </div>
    </div>
    </div>
</div>
</div>
</div>
<div class="col">
<div class="card mb-3" >
<div class="row g-0">
    <div class="col-md-4">
        <img src="../../../assets/images/profile-scorpio.png" id="img-horoscope" class="img-fluid mt-1 ms-1 rounded-start" alt="...">
    </div>
    <div class="col-md-8">
    <div class="card-body">
        <h5 class="card-title">Escorpio</h5>
        <p class="card-text">Escorpio, el octavo signo en el zodiaco, pertenece a los nacidos entre las fechas de octubre 23 y noviembre 21.</p>
        <div class="buttons">
            <button class="button" (click)="horoscopeDay('scorpio')">
                Horoscopo del dia
            </button>
            <button class=" button" (click)="horoscopeMonth('scorpio')">
                Horoscopo del mes
            </button>
        </div>
    </div>
    </div>
</div>
</div>
</div>
<div class="col">
<div class="card mb-3" >
<div class="row g-0">
    <div class="col-md-4">
        <img src="../../../assets/images/profile-sagittarius.png" id="img-horoscope" class="img-fluid mt-1 ms-1 rounded-start" alt="...">
    </div>
    <div class="col-md-8">
    <div class="card-body">
        <h5 class="card-title">Sagitario</h5>
        <p class="card-text">Sagitario, el noveno signo en el zodiaco, pertenece a los nacidos entre las fechas de noviembre 22 y diciembre 21.</p>
        <div class="buttons">
            <button class="button" (click)="horoscopeDay('sagittarius')">
                Horoscopo del dia
            </button>
            <button class=" button" (click)="horoscopeMonth('sagittarius')">
                Horoscopo del mes
            </button>
        </div>
    </div>
    </div>
</div>
</div>
</div>
<div class="col">
<div class="card mb-3" >
    <div class="row g-0">
        <div class="col-md-4">
            <img src="../../../assets/images/profile-capricorn.png" id="img-horoscope" class="img-fluid mt-1 ms-1 rounded-start" alt="...">
        </div>
        <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title">Capricornio</h5>
            <p class="card-text">Capricornio, el décimo signo del zodiaco, pertenece a los nacidos entre las fechas del 22 de diciembre y el 19 de enero.</p>
            <div class="buttons">
                <button class="button" (click)="horoscopeDay('capricorn')">
                    Horoscopo del dia
                </button>
                <button class=" button" (click)="horoscopeMonth('capricorn')">
                    Horoscopo del mes
                </button>
            </div>
        </div>
        </div>
    </div>
</div>
</div>
        <div class="col">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4" id="img-box">
                        <img src="../../../assets/images/profile-aquarius.png" id="img-horoscope" class="img-fluid mt-1 ms-1 rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Acuario</h5>
                        <p class="card-text">Acuario, el undécimo signo del zodiaco, pertenece a los nacidos entre las fechas del 20 de enero al 18 de febrero.</p>
                        <div class="buttons">
                            <button class="button" (click)="horoscopeDay('aquarius')">
                                Horoscopo del dia
                            </button>
                            <button class=" button" (click)="horoscopeMonth('aquarius')">
                                Horoscopo del mes
                            </button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
<div class="col">
<div class="card mb-3" >
<div class="row g-0">
    <div class="col-md-4">
        <img src="../../../assets/images/profile-pisces.webp" id="img-horoscope" class="img-fluid mt-1 ms-1 rounded-start" alt="...">
    </div>
    <div class="col-md-8">
    <div class="card-body">
        <h5 class="card-title">Piscis</h5>
        <p class="card-text">Piscis, el duodécimo signo en el zodiaco, pertenece a aquellos entre las fechas del 19 de febrero y el 20 de marzo.</p>
        <div class="buttons">
            <button class="button" (click)="horoscopeDay('pisces')">
                Horoscopo del dia
            </button>
            <button class=" button" (click)="horoscopeMonth('pisces')">
                Horoscopo del mes
            </button>
        </div>
    </div>
    </div>
</div>
</div>
</div>
</section>
<section>
<div class="horoscope-data " [ngClass]="{oculto: submitted==false}" id="horoscope-section">
    <div class="horoscope-header">
        <h4>{{changedText}}</h4>
    </div>
        <div class="accordion-body">
            <h5 *ngIf="month!=true">Horoscopo del dia</h5>
            <h5 *ngIf="month==true">Horoscopo del mes</h5>
            <p>{{choseType}}</p>
        </div>
</div>
</section>
</body>