<div class="head-search">
    <br>
    <form #musica="ngForm" >
        <input name="movieSearched" id="movieSearched" class="form-control" type="text" placeholder="Buscar pelicula" [(ngModel)]="movieSearched">
        <button (click)="getMovies()" class="btn-search"><i class="bi bi-search"></i>Buscar</button>
    </form>
</div>
<table class="table" *ngIf="submited">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Titulo</th>
            <th scope="col">Puntaje</th>
            <th scope="col">Año</th>
            <th scope="col"> Accion</th>
        </tr>
    </thead>
    <tbody >
        <tr *ngFor="let item of moviesSearched">
            <th scope="row">{{item.imdbId}}</th>
            <td>{{item.movieTitle}}</td>
            <td>{{item.movieScore}}</td>
            <td>{{item.movieYear}}</td>
            <td><button class="btn btn-danger" (click)="goDetail(item.imdbId)">Ver Detalle pelicula</button></td>
        </tr>
    </tbody>
</table>

<div class="modal fade" id="moviesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                
                <h5 class="modal-title" id="exampleModalLabel">Error en la busqueda</h5>
                </div>
                <span>No busco ninguna pelicula</span>
        
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                </div>
                </div>
                </div>
</div>